header img{
	height: 40px;

}
#main .carousel-inner img{
	max-height: 70vh;
	object-fit: cover;
	filter: grayscale(70%);
}

#carousel{
	position: relative;
}

#carousel .overlay{
	/* z-index: sirve para controlar el orden de los elementos, mientras mayor es el valor, mayor es la prioridad.*/
	z-index: 1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(0,0,0, 0.5);
	color: white; 
}

#carousel .overlay .container, 
#carousel .overlay .row{
	height: 100%; 
	}

#experencia {
	background-color: #343a40;
	color: black;
	
}

.btn-caliche:hover {
	background-color: #00B894;
	color: white;
}

#educacion {
	background-color: #343a40;
	color: white;
	
}

#educacion img{
	max-width: 100%;

}




footer{
	background-color: #005947;
}
footer a{
	color: white;
}
footer a:hover{
	color: black;
}