
.div-imagen {
  display:inline-block;
  position:relative;
}
/*Position the container with the massage absolutely and that is behind the image (with a negative z-index)*/
.div-imagen > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
  color: green;
  font-size: 30px;
  font-weight: bold;
}

/*size of the image */
.div-imagen img {
  height: 200px;
  width: 200px;
}

/*effect */
.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}