*{margin:0;
	padding:0
}
body{
	background:rgb(48, 98, 87); 
	font-family:'Roboto'; 
	line-height:1.5}
.content{
	margin:0 auto;
	padding:60px 20px;
	max-width:800px;
	background:rgb(48, 98, 87); 
	color:#fff;
}
p{
	margin:12px 0
}

#scroll-to-top {
  border-radius: 30px;
}