.navbar img {
    max-height: 70px !important; 
} 
.navbar a{
    color: purple !important;
}
.text-catrina{
    color: #5A33AD !important;
}
.text-catrina2{
    color: #FFE479 !important;
}
.btn-catrina{
    background-color: #FFE479 !important;
    border-color: #5A33AD !important;
    color: #5A33AD !important;
}
.btn-catrina2{
    background-color: #FFE479 !important;
    padding: 15px !important;

}
.btn-catrina3{
    background-color: #371E6B !important;
    color: white !important;
    

}
.btn-outline-catrina3{
    border: 2px solid  #371E6B !important;
    background-color: transparent !important;
    color: purple !important;
}
.btn-outline-catrina3:hover{
    border: 2px solid  #371E6B !important;
    background-color: #371E6B !important;
    color: white !important;
}

#main img{
    height: 100%;
    width: 100%;
}

#main{
	position: relative;
}
#main .overlay{
	/* z-index: sirve para controlar el orden de los elementos, mientras mayor es el valor, mayor es la prioridad.*/
	z-index: 1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(40, 24, 75, 0.95);
	color: white; 
}

#main .overlay .container-fluid, 
#main .overlay .row{
	height: 100%; 
    }
    
.overlay img {
    max-width: 80%;
    max-height: 80%;
}



#nosotros img,
#nivel-picante .container-fluid img{
    height: 100%;
    width: 100%;
}
#nosotros,
#nivel-picante{
	position: relative;
}
#productos-hecho-a-mano {
    background-image: url(assets/images/background-hecho-a-mano.png);
    height: 400px;
    width: 100%;
}

#nivel-picante {
    background-color: #29184D ;
}

.elige-tus-salsas,
.entregamos-donde-sea {
    background-color: #29184D ;
}

.elige-tus-salsas,
.realiza-tu-pedido,
.entregamos-donde-sea{
    height: 100%;
    width: 100%;

}

.ordena-ahora, .ubicacion
 {
    border: 2px solid  #5A33AD !important;
    
    color: white !important;

}



